%p#notice= notice

%p
  %b Client email:
  = @booking.client_email

%p
  %b Rental:
  = @booking.rental.name

%p
  %b Start at:
  = @booking.start_at.to_date
%p
  %b End at:
  = @booking.end_at.to_date
%p
  %b Price:
  = @booking.price

= link_to 'Edit', edit_booking_path(@booking.id)
\|
= link_to 'Back', bookings_path
